<!DOCTYPE html>
<html lang="en">

<%- include("header.ejs") %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogs</title>

</head>

<body>
  <h1>Blog Posts</h1>
 


  <form action="/submit" method="POST">
    <div class="mb-3">
        <label for="postTitle" class="form-label">Post Title</label>
        <input type="text" class="form-control" id="postTitle" name="pName" placeholder="Post Title">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="pDescription" placeholder="Description" rows="5"></textarea>

    </div>

    <button type="submit" class="btn btn-primary">OK</button>
</form>







</body>







<h2>Recent Posts</h2>

<% if (locals.blog) { %>
    <%  for (let i = 0; i < 5; i++) { %>
        // Your code to be repeated 5 times
    
        <h1><%= blog[i].title %></h1>
        <h4><%= blog[i].dateTime %></h4>
        <p><%= blog[i].description %></p>
    
    
        <%  } %>
        <% } %>





</html>