<!DOCTYPE html>
<html lang="en">

<%- include("header.ejs") %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">

  <title>Blogs</title>

</head>

<body>
  <h1>Blog Posts</h1>
 


  <form action="/submit" method="POST">
    <div class="mb-3 mt-10">
        <label for="postTitle" class="form-label">Post Title</label>
        <input type="text" class="form-control" id="postTitle" name="pName" placeholder="Post Title">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="pDescription" placeholder="Description" rows="5"></textarea>

    </div>

    <button type="submit" class="btn btn-dark">OK</button>
</form>















<h3>Recent Posts</h2>

    <% if (blogs.length > 0) { %>
        <!-- Display blogs if the array is not empty -->
        <ul>
            <% blogs.forEach(blog => { %>
                <li>
                    <h2><%= blog.title %></h2>
                    <p><%= blog.description %></p>
                    <p><strong>Posted on:</strong> <%= blog.dateTime %></p>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <!-- Display a message if the array is empty -->
        <p>No blogs available.</p>
    <% } %>
   
</body>

</html>