<!DOCTYPE html>
<html lang="en">

<%- include("header.ejs") %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogs</title>
</head>

<body>
  <h1>Blog Posts</h1>
  <!-- Write your code here -->
  <form action="/submit" method="POST">
    <input type="text" name="pName" placeholder="Post Title">
    <input type="text" name="pDescription" placeholder="Description">
    <input type="submit" value="OK">
  </form>
</body>

</html>