<!DOCTYPE html>
<html lang="en">

<%- include("header.ejs") %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogs</title>

</head>

<body>
  <h1>Blog Posts</h1>
 
  <form action="/submit" method="POST">
    <input type="text" name="pName" placeholder="Post Title">
    <input type="text" name="pDescription" placeholder="Description">
    <input type="submit" value="OK">
  </form>

</body>


<h2>Recent Posts</h2>

<% if (locals.blog) { %>
    <%  for (let i = 0; i < 5; i++) { %>
        // Your code to be repeated 5 times
    
        <h1><%= blog[i].title %></h1>
        <h4><%= blog[i].dateTime %></h4>
        <p><%= blog[i].description %></p>
    
    
        <%  } %>
        <% } %>





</html>